<div class="row mt-5">
{{#each allowedList}}

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-between align-items-center">
          {{this.title}} <a href="/notes/edit/{{this._id}}" ><i class="fas fa-edit"></i></a>
        </div>
        <hr class="m-2">
        <p>
          {{this.content}}
        </p>
        <form action="/notes/delete/{{this._id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-block btn-danger btn-sm">
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>

{{else}}
  <div class="card mx-auto">
      <div class="card-body">
        <h2>
          {{user.name}}
        </h2>
        <p>
          There're no notes yet
        </p> 
        <a href="/notes/new-note" class="btn btn-success btn-block">Create One</a>
     </div>
    </div>

{{/each}}
</div>

